body {
  margin: 0;
  padding: 0;
}

#navBar .searchField {
  text-align: center;
  height: 28px;
}
#navBar .icons{
    font-size: 22px;
  letter-spacing: 22px;
}
#navBar .icons  :hover{
    cursor: pointer;
}

#navBar .input-div {
  position: relative;
  top: 4px;
}

#navBar .input-icon {   
  position: absolute;
  top: 9px;
  left: 65px;
  font-size: 10px;
}
.navbar-brand img{
    width: 110px;
    height: 50px;
}

.navbar{
    padding: 0;
}
