body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}
i {
  cursor: pointer;
}
/* ====== NavBAr section */

header {
  background-color: white;
  border-bottom: solid 1px #bfb5b5c4;
  height: 52px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  justify-content: center;
  text-align: center;
  width: 93%;
  margin-left: 14px;
}
header .icon {
  margin-top: 12px;
  font-size: 22px;
  letter-spacing: 20px;
}
header .icon:hover {
  cursor: pointer;
}
section {
  padding-top: 60px;
}
header .nav-input {
  text-align: center;
  height: 27px;
  outline: none;
  border: solid 1px #bfb5b5c4;
  font-weight: 300;
  width: 215px;
  border-radius: 3px;
  min-width: 125px;
}
.logo-div img {
  width: 95px;
}
.nav-input {
  margin-top: 11px;
  background-color: #d4d4d429;
}

.input-div {
  position: relative;
  width: 100%;
}
.search-icon-div {
  position: absolute;
  top: 19px;
  left: 74px;
  font-size: 10px;
  opacity: 0.5;
}
.profile-img {
  width: 28px;
  height: 25px;
  border-radius: 50%;
  margin-top: -7px;
  vertical-align: middle;
}

/*============= Navbarmedia query */

@media screen and (max-width: 960px) {
  ul {
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .input-div {
    display: none;
  }
  header .icon {
    font-size: 18px;
    letter-spacing: 15px;
  }
}

.show {
  display: none;
}

.loop-main {
  background-color: white;
  position: fixed;
  top: 8%;
  right: 17%;
  width: 30%;
  z-index: 1;
  /* overflow: scroll; */
  height: 50vh;
  border-radius: 5px;
  box-shadow: 2px 3px 6px 0px black;
}
.loop-main::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  transform: rotate(45deg);
  right: 53px;
  top: -5;
  box-shadow: -2px -2px 1px 0px #ccc;
}

.loop-divv {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
  border-bottom: solid 1px #bfb5b5c4;
}
.heart-Img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 8px;
}
.loop-divv h3 {
  font-size: 15px;
  margin-left: 15px;
  position: absolute;
  top: 0px;
  left: 40px;
}
.loop-divv h4 {
  font-size: 12px;
  position: absolute;
  top: 18px;
  left: 56px;
  font-weight: 500;
}
.loop-divv button {
  border: none;
  background: #1d9af6;
  color: white;
  outline: none;
  position: absolute;
  right: 17px;
  top: 10px;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
}
